body {
  margin: 0;
  font-family: Montserrat;
  font-weight: bold;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
  padding-top: 10vh;
  /* 100px */
  font-family: Sacramento;
  font-size: 6vw;
  /* 80px; */
  color: #FFE3FE;
}

.first-div {
  background-image: url("images/bg_image_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
}

/* ================================================================= */
/* ========================Left Menu ================================*/
/* ================================================================= */
.left-menu {
  height: 50vh;
  /* 50% */
  width: 10vw;
  /* 10% */
  margin-right: auto;
  position: fixed;
}

.left-menu-item-1 {
  /* background-color: #2C2E43; */
  background: rgb(72, 73, 73);
  background: linear-gradient(90deg, rgba(72, 73, 73, 1) 15%, rgba(72, 73, 73, 1) 45%, rgba(68, 102, 110, 1) 71%, rgba(64, 128, 143, 1) 100%);
  height: 25vh;
  /* 50% */
  width: 10vw;
  /* 100% */
  text-align: center;
  box-shadow: 2px 2px 2px 1px #716F81;
}

.left-menu-item-2 {
  /* background-color: #595260; */
  background: rgb(72, 73, 73);
  background: linear-gradient(90deg, rgba(72, 73, 73, 1) 15%, rgba(72, 73, 73, 1) 45%, rgba(131, 142, 145, 1) 89%, rgba(101, 136, 144, 1) 100%, rgba(64, 128, 143, 1) 100%);
  height: 25vh;
  /* 50% */
  width: 10vw;
  /* 100% */
  text-align: center;
  box-shadow: 2px 2px 2px 1px #787A91;
}

.left-menu-img {
  width: 5vw;
  /* 40% */
  padding-top: 5vh;
  /* 30px */
}

.left-menu-text {
  margin: 0;
  font-size: 1.3vw;
  /* no value originally */
  color: white;
}

.left-menu-item:hover {
  /* border: 3px solid; */
  animation: bAnim 0.3s 1;
  overflow: hidden;
  animation-fill-mode: forwards;
}

@keyframes bAnim {
  0% {
    /* border-left-color: #082032; */
    background: rgb(72, 73, 73);
    background: linear-gradient(90deg, rgba(72, 73, 73, 1) 0%, rgba(64, 128, 143, 1) 3%, rgba(72, 73, 73, 1) 45%, rgba(131, 142, 145, 1) 81%, rgba(101, 136, 144, 1) 93%);
  }

  10% {
    height: 26vh;
    width: 11vw;
    background: rgb(72, 73, 73);
    background: linear-gradient(90deg, rgba(72, 73, 73, 1) 0%, rgba(64, 128, 143, 1) 17%, rgba(72, 73, 73, 1) 45%, rgba(131, 142, 145, 1) 81%, rgba(101, 136, 144, 1) 93%);
  }

  30% {
    background: rgb(72, 73, 73);
    background: linear-gradient(90deg, rgba(72, 73, 73, 1) 0%, rgba(64, 128, 143, 1) 34%, rgba(72, 73, 73, 1) 52%, rgba(131, 142, 145, 1) 81%, rgba(101, 136, 144, 1) 93%);
  }

  40% {
    height: 26.5vh;
    width: 11.5vw;
    background: rgb(72, 73, 73);
    background: linear-gradient(90deg, rgba(72, 73, 73, 1) 0%, rgba(64, 128, 143, 1) 50%, rgba(72, 73, 73, 1) 52%, rgba(131, 142, 145, 1) 81%, rgba(101, 136, 144, 1) 93%);
  }

  50% {
    background: rgb(72, 73, 73);
    background: linear-gradient(90deg, rgba(72, 73, 73, 1) 0%, rgba(72, 73, 73, 1) 52%, rgba(64, 128, 143, 1) 56%, rgba(131, 142, 145, 1) 81%, rgba(101, 136, 144, 1) 93%);
  }

  60% {
    /* border-top-color: #2C394B; */
    background: rgb(72, 73, 73);
    background: linear-gradient(90deg, rgba(72, 73, 73, 1) 15%, rgba(72, 73, 73, 1) 45%, rgba(131, 142, 145, 1) 62%, rgba(101, 136, 144, 1) 69%, rgba(64, 128, 143, 1) 76%);
  }

  70% {
    background: rgb(72, 73, 73);
    background: linear-gradient(90deg, rgba(72, 73, 73, 1) 0%, rgba(72, 73, 73, 1) 52%, rgba(64, 128, 143, 1) 69%, rgba(131, 142, 145, 1) 81%, rgba(101, 136, 144, 1) 93%);
  }

  80% {
    height: 27vh;
    width: 12vw;
    /* border-right-color: #334756; */
    background: rgb(72, 73, 73);
    background: linear-gradient(90deg, rgba(72, 73, 73, 1) 15%, rgba(72, 73, 73, 1) 45%, rgba(131, 142, 145, 1) 73%, rgba(101, 136, 144, 1) 79%, rgba(64, 128, 143, 1) 87%);
  }

  90% {
    background: rgb(72, 73, 73);
    background: linear-gradient(90deg, rgba(72, 73, 73, 1) 0%, rgba(72, 73, 73, 1) 52%, rgba(64, 128, 143, 1) 69%, rgba(131, 142, 145, 1) 81%, rgba(101, 136, 144, 1) 93%);
  }

  100% {
    /* border-bottom-color: #595260; */
    background: rgb(72, 73, 73);
    background: linear-gradient(90deg, rgba(72, 73, 73, 1) 15%, rgba(72, 73, 73, 1) 45%, rgba(131, 142, 145, 1) 81%, rgba(101, 136, 144, 1) 93%, rgba(64, 128, 143, 1) 100%);
  }
}

/* ---------------------------------------------------------------------------------- */
/*================================ Right buttons================================== */
/* ------------------------------------------------------------------------------------- */
.contact-right {
  position: fixed;
  top: 30vh;
  left: 85vw;
  transform: rotate(90deg);
  display: flex;
  /* margin: 25vh 0 0 45vw; */
  /* 150px 0 0 540px */
}

.right-button-1 {
  width: 25vh;
  /* 150px */
  height: 3vw;
  /* 40px */
  background-color: #26001B;
  color: white;
  font-size: 3vh;
  /* 130% */
}

.right-button-2 {
  width: 25vh;
  /* 150px */
  height: 3vw;
  /* 40px */
  background-color: #810034;
  color: white;
  font-size: 3vh;
  /* 130% */
}

/*==================== ribbon========================= */
.ribbon {
  margin-left: 15vw;
  width: 5vw;
  height: 10vh;
  position: relative;
  float: left;
  text-transform: uppercase;
  color: white;
}

.ribbon1 {
  width: 60px;
  padding: 10px 0;
  position: absolute;
  top: -6px;
  left: 25px;
  text-align: center;
  border-top-left-radius: 3px;
  background: #F47530;
}

.ribbon1:before {
  height: 0;
  width: 0;
  right: -5.5px;
  top: 0.1px;
  border-bottom: 6px solid #8D5A20;
  border-right: 6px solid transparent;
}

.ribbon1:before, .ribbon1:after {
  content: "";
  position: absolute;
}

.ribbon1:after {
  height: 0;
  width: 0;
  bottom: -29.5px;
  left: 0;
  border-left: 30px solid #F47530;
  border-right: 30px solid #F47530;
  border-bottom: 30px solid transparent;
}

.ribbon:hover {
  margin-top: 1vh;
  margin-left: 15vw;
  width: 5vw;
  height: 10vh;
  position: relative;
  float: left;
  text-transform: uppercase;
  color: black;
}

/* =============================================================================== */
/* ==========================top Social links=============================== */
/* =============================================================================== */
.social-top {
  display: inline-flex;
  float: right;
  margin-right: 10vw;
}

.social {
  width: 1.5vw;
  /* 20px */
  padding-top: 1vh;
  /* 5px */
}

.instagram {
  width: 6vw;
  /* 70px */
  text-align: center;
  background-color: #FFB740;
}

.facebook {
  width: 6vw;
  /* 70px */
  text-align: center;
  background-color: #39A2DB;
}

.telegram {
  width: 6vw;
  /* 70px */
  text-align: center;
  background-color: #5089C6;
}

.gmail {
  width: 6vw;
  /* 70px */
  text-align: center;
  background-color: #EEEEEE;
}

.github {
  width: 6vw;
  /* 70px */
  text-align: center;
  background-color: #003638;
}

.linkedin {
  width: 6vw;
  /* 70px */
  text-align: center;
  background-color: #B5EAEA;
}

/* =============================================================================== */
/* ===================Right-Button-Animation================================ */
/* =============================================================================== */
.right-button:hover {
  border: 3px solid;
  animation: bAnim2 1s 1;
}

@keyframes bAnim2 {
  25% {
    border-right-color: #B4AEE8;
  }

  55% {
    border-bottom-color: #FFE3FE;
  }

  75% {
    border-left-color: #440A67;
  }

  90% {
    border-top-color: #93329E;
  }
}

.welcome-div {
  margin-left: 40vw;
  /* 550px */
  margin-right: 5vw;
  text-align: center;
}

#down-arrow {
  width: 40vh;
  /* 40% */
}

#down-arrow:hover {
  width: 45vh;
}

/* =============================================================================== */
/* =====================Second Section======================= */
/* =============================================================================== */
#second {
  background-color: #51DACF;
  background-image: url(images/branch5.png), url(images/branch6.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left top, right top;
  background-blend-mode: soft-light;
  margin-left: 0;
  /* 100px */
  width: 100vw;
  text-align: center;
}

.second-div {
  margin-left: 15vw;
  margin-right: 5vw;
  padding: 5vh 5vw;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}



.my-pic {
  width: 20vw;
  margin: 4vh 4vw;
  padding: 0.5vh 0.5vw;
  /* 100px */
  border-radius: 10px 100px / 120px;
  box-shadow: 5px 5px 5px 5px #fff;
}

.my-pic:hover {
  animation: my-pic-anim 0.1s 1;
  animation-fill-mode: forwards;
}

@keyframes my-pic-anim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}

.my-intro h2 {
  margin: 0;
  font-family: Merriweather;
  color: #3B5249;
  font-size: 3vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  letter-spacing: 0.5vw;
}

.my-intro {
  color: #2C2E43;
  margin: 0;
  line-height: 6vh;
  /* 50px */
  letter-spacing: 0.1vw;
  /* 1.5px */
  font-family: Merriweather;
  width: 40vw;
}

.pic-quote {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

.quote {
  width: 30vw;
  padding-top: 10px;
}

.donate {
  color: #595260;
}

.donate-button {
  margin: auto;
  background-color: #BCFFB9;
  border: 1px solid;
  border-radius: 10px 100px / 120px;
  text-align: center;
  width: 20vw;
  box-shadow: 2px 2px 2px 2px #515E63;
}

/* ========================================================================= */
/* =================================third section=========================== */
/* ====================================================================== */
#third {
  text-align: center;
  margin-left: 0;
  /* 100px; */
  background-color: #008891;
  background-image: url(images/branch2.png), url(images/branch1.png), url(images/branch3.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right top, left center, right bottom;
  background-blend-mode: soft-light;
  width: 100vw;
}

.third-div {
  margin-left: 15vw;
  margin-right: 5vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  position: relative;
}
.third-div h2{
  color:#BCFFB9;
  font-size: 4vw;
}

.leaf img {
  width: 5vw;
  height: 5vh;
}
.leaf {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  top: 0;
}

.set-2{
  transform: rotateY(180deg);
  filter:blur(1px);
}

@keyframes fall {
  0% {
    opacity: 0;
    transform: translateY(0vh) rotate(0deg);
  }

  20% {
    opacity: 1;
    transform: translateY(30vh) rotate(45deg);
  }

  40% {
    opacity: 1;
    transform: translateY(60vh) rotate(90deg);
  }

  60% {
    opacity: 1;
    transform: translateY(90vh) rotate(135deg);
  }

  80% {
    transform: translateY(120vh) rotate(180deg);
  }

  100% {
    opacity: 0;
    transform: translateY(150vh) rotate(225deg);
  }
}

.leaf div:nth-child(1) {
  animation: fall 9s linear infinite;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

.leaf div:nth-child(2) {
  width: 6vw;
  height: 6vh;
  animation: fall 8s linear infinite;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

.leaf div:nth-child(3) {
  width: 7vw;
  height: 7vh;
  animation: fall 12s linear infinite;
  animation-delay: -2s;
  animation-fill-mode: forwards;
}

.leaf div:nth-child(4) {
  width: 4vw;
  height: 4vh;
  animation: fall 11s linear infinite;
  animation-delay: -1s;
  animation-fill-mode: forwards;
}

.leaf div:nth-child(5) {
  animation: fall 8s linear infinite;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

.leaf div:nth-child(6) {
  animation: fall 9s linear infinite;
  animation-delay: -4s;
  animation-fill-mode: forwards;
}

.leaf div:nth-child(7) {
  animation: fall 8s linear infinite;
  animation-delay: -2s;
  animation-fill-mode: forwards;
}

.leaf div:nth-child(8) {
  width: 6vw;
  height: 6vh;
  animation: fall 13s linear infinite;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.skills-head, .language-head {
  font-family: Merriweather;
  color: #2D2424;
  font-size: 3vw;
  letter-spacing: 0.5vw;
  margin-top: 0;
  padding-top: 5vh;
}

td img {
  width: 2vw;
}

.third-div hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 40%;
  margin: 7vh auto;
}

.skills-table, .language-table {
  margin: auto;
  color: #FFE6E6;
  font-size: 2vw;
  text-align: center;
  border-spacing: 2vw;
}

.table-text {
  font-size: 1.5vw;
  text-align: left;
}

/* ========================================================================= */
/* ================================= fourth section=========================== */
/* ====================================================================== */
#fourth {
  background-color: #51DACF;
  margin-left: 0;
  /* 100px */
  width: 100vw;
  text-align: center;
}

.fourth-div {
  margin-left: 15vw;
  margin-right: 5vw;
}

.websites {
  margin-top: 0;
  padding-top: 5vh;
  letter-spacing: 0.5vw;
  font-family: Merriweather;
  color: #2D2424;
  font-size: 3vw;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.card-img {
  width: 15vw;
  border: 1px solid;
}

.card-all {
  background-color: #CDF3A2;
  border: 2px solid;
  margin: 1vw;
  width: 20vw;
  overflow: auto;
  box-shadow: 3px 3px 3px 3px #57837B;
}
.card-content{
  margin:auto 0;
}

.link-to-web {
  padding-bottom: 1vh;
}

/* ------------------------------------------------------------------------------- */
/* ========================= FIFTH SECTION ================================== */
/* -------------------------------------------------------------------------------- */
#fifth {
  background-color: #362222;
  margin-left: 0;
  /* 100px */
  width: 100vw;
  text-align: center;
}

.fifth-div {
  margin-left: 15vw;
  margin-right: 5vw;
  color: #FFE3FE;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.visitor-count {
  margin: auto 0;
  color: #FFE3FE;
  padding: 10vh 0 5vh 0;
  line-height: 5vh;
}

.contact table {
    margin: auto 0;
  padding: 5vh 0 5vh 0;
  float: left;
  text-align: left;
}

.copyright {
    margin: auto 0;
  padding: 10vh 0 5vh 0;
  line-height: 5vh;
}

.copyright a {
  color: #787A91;
}
